# GNU Emacs
*.elc
*~
.abbrev_defs
/anaconda-mode/
/auto-save-list/
/backups/
/elpa/
config.el
custom.el
history
org-clock-save.el
plantuml.jar

# Third-party packages
/history
/url/
/var/
ac-comphist.dat
bookmarks
nov-places
recentf
request
smex-items
tramp