# GNU Emacs
*.elc
*~
/elpa/
config.el
custom.el
tutorial

# Third-party packages
/history/
/url/
/var/
/anaconda-mode/
/auto-save-list/
/backups/
/transient/
.abbrev_defs
ac-comphist.dat
bookmarks
nov-places
recentf
request
smex-items
tramp
workspace